.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 700px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), transparent);
  }
 .slick {
  /* width: 100%;
  z-index: -1; */
  margin-bottom: -315px;
}
